
    .card {
    width : auto;
    padding : 10px 10px;
    color:red;
    background-color: aquamarine;
    margin: 20px 20px 20px 20px;
    border-radius: 10px;
    text-align:center;
    
}

.form{
    width: auto;
    padding : 5px 5px 5px 5px;
    color:red;
    background-color: beige;
    margin: 20px 20px 20px 20px;
    border-radius: 5px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-align: left;
}
.uname{
    padding : 5px 5px;
}
.pwd{
    padding : 5px 5px;
}

input[type=text] {
    border-radius:25px;
    padding : 5px 5px;
    border: 1px solid beige;
    
}
input[type=password] {
    border-radius:25px;
    padding : 5px 5px;
    border: 1px solid beige; 
    
}
input:focus{
    border:2px solid orange;
    outline:none;
    border-radius:25px;
}
